.DS_Store
# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain generated content.
cache/
files/
sites/*/files
sites/*/private
.idea

# Ignore default text files
robots.txt
/CHANGELOG.txt
/COPYRIGHT.txt
/INSTALL*.txt
/LICENSE.txt
/MAINTAINERS.txt
/UPGRADE.txt
/README.txt
/vendor
sites/all/README.txt
sites/all/modules/README.txt
sites/all/themes/README.txt
settings.*.php
/web/sites/default/libraries
modules/contrib
themes/contrib

# Ignore everything but the "sites" folder ( for non core developer )
web.config
authorize.php
cron.php
index.php
install.php
update.php
xmlrpc.php
/includes
/misc
/modules
/profiles
/themes

# Ignore Node files and directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.grunt
bower_components
node_modules/
.npm
